body {
  margin: 0;
  padding: 0;
  font-family:"ヒラギノ角ゴ Pro W3";
}

header {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  position: fixed;
  text-align:center;
}
header a {
  margin: 20px;
  text-decoration: none;
}


.menu {
	list-style-type:none;
}
.menu > li {
	display:inline-block;
	border:1px solid gray;
	position:relative;
  height:100%;
  padding:50px;
}
.menu > li > ul {
	display:none;
}
.menu > li:hover ul {
	display:block;
	padding:10px 10px;
	margin:0;
	list-style-type:none;
	border:1px solid gray;
  height:100%;
}


.hide_display {
 margin: 2em 4em;/*前後の余白*/
 padding: 0;
}

/*ボタン装飾*/
.hide_display label {
 padding: 15px;
 font-weight: bold;
 border: solid 2px black;
 cursor :pointer;
}

/*ボタンホバー時*/
.hide_display label:hover {
 background: #efefef;
}

/*チェックは見えなくする*/
.hide_display input {
 display: none;
}

/*中身を非表示にしておく*/
.hide_display .hidden_show {
 height: 0;
 padding: 0;
 overflow: hidden;
 opacity: 0;
 transition: 0.8s;
}

/*クリックで中身表示*/
.hide_display input:checked ~ .hidden_show {
 padding: 10px 0;
 height: auto;
 opacity: 1;
}
